@model Business_Logic_Layer.UserViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Login</h1>
@using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post))
{
   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Password Email</button>

}
<br>
    @Html.ActionLink("Back to Login","Login", "Users", null, new { @class = "btn btn-primary" })